{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection.log",
        "html": "build/infection.html"
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "phpunit",
    "initialTestsPhpOptions": "-d memory_limit=-1",
    "minMsi": 80,
    "minCoveredMsi": 85
}
